################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/source/CLStencil/.vs/clstencil/v15
/source/SProxy/.vs/sproxy/v15
/source/VCDeploy/.vs/vcdeploy/v15
/.vs
/source/CLStencil/Debug
/source/VCDeploy/Debug
/source/VCDeploy/x64
/source/Debug
/source/SProxy/Debug
/source/WebDbg/.vs/webdbg/v15
